#inputs {
  display: flex;
  flex-direction: column;
}

#meme-text {
  position: relative; /*https://dzone.com/articles/css-position-relative-vs-position-absolute*/
  color: white;
  text-shadow: 5px 5px 5px black; /* sombra preta, de 5 pixels na horizontal, 5 pixels na vertical e um raio de desfoque de 5 pixels*/
  font-size: 30px;
}

#meme-image {
  position: absolute; /*https://www.w3schools.com/css/css_positioning.asp*/
  width: 400px;
  height: 400px;
}

#meme-image-container {
  border: 1px solid;
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 400px;
}

#fire {
  border: 3px dashed red; /* borda de 3 pixels, dashed e vermelha*/
  background-color: rgb(255, 0, 0);
}

#water {
  border: 5px double blue; /*borda azul, com 5 pixels do tipo double .*/
  background-color: rgb(0, 0, 255);
}

#earth {
  border: 6px groove green; /*borda do tipo groove, verde e com 6 pixels.*/
  background-color: rgb(0, 128, 0);
}

#sectionImg img {
  width: 100px;
  height: 100px;
}