:root {

  --main-border: 1px solid black;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.container {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

.container * {
  margin: 10px auto;
}

.label-input {
  font-size: 18px;
}

#text-input {
  max-width: 500px;
}

#meme-insert {
  max-width: 500px;
}

#meme-image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 500px;
  height: 500px;
  border: var(--main-border);
  background-color: white;
}

#meme-text {
  font-size: 30px;
  position: absolute;
  max-width: 470px;
  top: 500px;
  color: white;
  text-shadow: 5px 5px 5px black;
  word-wrap: break-word;
  font-family: Impact, Haettenschweiler, sans-serif;
}

#fire {
  background-color: red;
  display: inline-block;
}

#water {
  background-color: blue;
  display: inline-block;
}

#earth {
  background-color: green;
  display: inline-block;
}

.memes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#meme-1 , #meme-2 , #meme-3 , #meme-4 {
  width: 10%;
  margin: 20px 10px;
  border: var(--main-border);
}
